.red { background-color: pink; }
.lightblue { background-color: lightblue; }
.lightgreen { background-color: lightgreen; }
.h500 { height: 500px; }
.buffer { border-bottom: solid 1px; }

.black-bg {
    background-color: #000;
}

.black1-fg {
    color: #000;
}

.black2-fg {
    color: #333;
}

.white-bg {
    background-color: #fff;
}

.white-fg {
    color: #fff;
}

.gold1-fg {
    color: #856238;
}

.gold2-fg {
    color: #a37645;
}

.gold5-fg {
    color: #e9d9c8;
}

.gold2-bg {
    background-color: #a77445;
}

.gold3-bg {
    background-color: #81542e !important;
}

.gold4-bg {
    background-color: #C79054 !important;
}

.gray1-fg {
    color: #d3d3d3 !important;
}

.gray2-fg {
    color: #595959 !important;
}

.gray3-fg {
    color: #767676 !important;
}

.gray1-bg {
    background-color: #e3e3e3 !important;
}

.gray2-bg {
    background-color: #ebebeb !important;
}

.gray3-bg {
    background-color: #f1f1f1 !important;
}

.gray4-bg {
    background-color: #f9f9f9 !important;
}
