@font-face {
    font-family: AvenirNextDemi;
    src: url("../fonts/AvenirNextDemi.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextRegular;
    src: url("../fonts/AvenirNextRegular.otf") format("opentype");
}

.font-family-avenirnextr-demi {
    font-family: AvenirNextDemi;
}

.font-family-avenirnext-regular {
    font-family: AvenirNextRegular;
}

.font-size-10 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-15 {
    font-size: 15px;
}
.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-40 {
    font-size: 40px;
}

.text-decoration-none {
    text-decoration: none;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.uppercase {
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-size: 18px;
    font-family: AvenirNextDemi;
}

h4 {
    margin: 0;
    /*font-size: 18px;*/
    font-family: AvenirNextRegular;
}