.publications {
    padding: 100px 0 0 0;
}

.publications-title {
    padding-bottom: 40px;
}

.publications-image-one,
.publications-image-two,
.publications-image-three,
.publications-image-four,
.publications-image-five,
.publications-image-six {
    margin-bottom: 30px;
    height: 211px;
    width: 348px;
    background-size: contain;
}

.publications-image-one {
    background: url('../images/publications-structuring.png') no-repeat center;
}

.publications-image-two {
    background: url('../images/publications-franchise-review.png') no-repeat center;
}

.publications-image-three {
    background: url('../images/publications-franchise-act.png') no-repeat center;
}

.publications-image-four {
    background: url('../images/publication-eh-game.jpg') no-repeat center;
}

.publications-image-five {
    background: url('../images/publication-howtostart.jpg') no-repeat center;
}

.publications-image-six {
    background: url('../images/publication-top12-things.jpg') no-repeat center;
}

.publications-detail {
    margin: 0;
    height: 140px;
}

.publications-title-buffer {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 30px;
    border-bottom: solid 1px #d3d3d3;
}
    .publications-title-buffer-text {
        font-size: 10px;
        font-style: italic;
        width: 50px;
        top: 15px;
        background-color: white;
        margin-left: 12%;
        text-align: center;
    }

.publications-row-one-buffer {
    height: 50px;
}

@media screen and (max-width: 1350px) {
    .publications-image-one,
    .publications-image-two,
    .publications-image-three,
    .publications-image-four,
    .publications-image-five,
    .publications-image-six {
        margin: 0 auto 30px auto;
        height: 164px;
        width: 248px;
        background-size: contain;
    }
}

@media screen and (max-width: 1200px) {
    .publications-card-link {
        padding-top: 50px;
    }
}

@media screen and (max-width: 960px) {
    .publications {
        padding: 70px 0;
    }

    .publications-title {
        padding-bottom: 10px;
    }

    .publications-image-one,
    .publications-image-two,
    .publications-image-three,
    .publications-image-four,
    .publications-image-five,
    .publications-image-six {
        margin-bottom: 30px;
        height: 211px;
        width: 348px;
    }

    .publications-detail {
        width: auto !important;
    }

    .publications-card-one,
    .publications-card-two,
    .publications-card-three {
        margin: 0 auto;
    }

    .publications-card-one,
    .publications-card-two {
        margin-bottom: 50px;
    }

    .publications-card-one-detail {
        width: 250px;
    }

    .publications-card-link {
        padding-top: 0;
    }
}

@media screen and (max-width: 340px) {
    .publications-card-one-detail {
        padding: 0 5%;
        justify-content: center;
        width: auto;
    }
}