
.testimonials-content-carousel-items {
    margin-top: -100px;
    height: 540px;
}

.testimonials-content-quote-icon-one {
    top: 15px;
    left: -40px;
    opacity: 0.3;
    font-size: 50px !important;
}

.testimonials-content-quote-icon-two {
    top: 30px;
    left: -40px;
    opacity: 0.3;
    font-size: 50px !important;
}

.testimonials-content-quote-icon-three {
    top: 20px;
    left: -60px;
    opacity: 0.3;
    font-size: 50px !important;
}

.testimonials-content-quote-icon-four {
    top: 20px;
    left: -90px;
    opacity: 0.3;
    font-size: 50px !important;
}

.testimonials-content-quote-icon-five {
    top: 20px;
    left: -40px;
    opacity: 0.3;
    font-size: 50px !important;
}

.testimonials-content-quote-icon-six {
    top: -3px;
    left: -54px;
    opacity: 0.3;
    font-size: 50px !important;
}

.testimonials-content-quote-icon-seven {
    top: 20px;
    left: -40px;
    opacity: 0.3;
    font-size: 50px !important;
}

@media screen and (max-width: 1280px) {
    .testimonials-content-quote {
        margin-top: 0;
    }
}

@media screen and (max-width: 960px) {
    .testimonials-content-quote-text {
        text-align: center;
    }

    .testimonials-content {
        padding-top: 40px;
    }

    .testimonials-content-carousel {
        padding-bottom: 50px;
    }

    .testimonials-content-quote-icon {
        margin-top: -170px;
    }

    .testimonials-content-carousel-items {
        height: 580px;
    }

    .testimonials-content > .carousel {
        padding-top: 50px;
    }

    .carousel__next > label,
    .carousel__prev > label {
        margin-top: 40px;
    }

    .testimonials-content-quote-text {
        /*margin-top: 130px;*/
    }

    .testimonials-content-text {
        padding: 0 70px;
    }
}

@media screen and (max-width: 600px) {
    .testimonials-content-carousel-items {
        height: 800px;
    }

    .testimonials-content-carousel {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 500px) {
    .carousel__nav {
        display: none;
    }
    .carousel__item-three .testimonials-content-quote-text {
        top: -17px;
    }
    .carousel__item-four .testimonials-content-quote-text {
        width: 240px;
    }

    .testimonials-content-quote-icon-six {
        top: 27px;
        left: -34px;
    }
}

@media screen and (max-width: 400px) {
    .testimonials-content-carousel-items {
        height: 990px;
    }
}

